<% include header.html %>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1><%= title %></h1>
<p><%= __('Welcome to') %> <%= title %>. La API de anuncios que estabas esperando.</p>
<p><%= __('Click') %> <a href="/apiv1/anuncios"><%= __('here') %></a> <%= __('in order to use the app prepared for you.') %></p>
<p><%= __('Click') %> <a href="/apiv1/tags"><%= __('here') %></a> <%= __('to use the functionality that filter available tags.') %></p>
<p><%= __('If you want to see results in a view, click ') %> <a href="/anuncios"><%= __('here') %></a></p>

<h3><%= __('Mouse', Number(5)) %></h3>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
        </div>
      </div>
    </div>
  </div>
</header>


    
    
    
<% include footer.html %>