<!DOCTYPE html>
<html>
  <head>
    <title>Anuncios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Anuncio</h1>

    <% let ob = JSON.stringify(list) %>
    <%= ob %>
    

    <img src="../images/bici1.jpg" WIDTH=340 HEIGHT=210 ALT="Producto1">    
  </body>
</html>