<!DOCTYPE html>
<html>
  <head>
    <title>Anuncios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/buscar.js'></script>
    <script src='/javascripts/paginacion.js'></script>
  

  </head>
 
  <body onload="paginacion(<%=numPags%>)">
  
    <h1>API de Nodepop</h1>
      
    <input type="text" size="15" maxlength="30" name="buscar" id="textBuscar">
    <button value="botonBuscar" onclick="buscar()"> Buscar </button>

    <!--<p> Pulsa si quieres ver funcionalidad de paginación. </p>
    <button value="paginacion" onclick="paginacion(<%=numPags%>)"> Paginar </button>-->
     
    <div class="anuncio">

      <%list.forEach(function(anuncio, index){%>

      <div class="title_anun">
        <h2><%= 'Anuncio '%></h2>
      </div>

      <div class="descrip_anun">
        <div class="name_anun">
          <span>Nombre:</br></span> <%= anuncio.nombre%>
        </div>
      </div>
      
      <div class="img_anun">
          <img src= <%='../images/' + anuncio.foto %> width=340 height=210  alt="Producto1">
      </div>

      <div class="descrip_anun">
          <span>Tipo: </span>
      <%if (anuncio.venta === true){%>
        <%  let venta = 'Venta';%>
      <%= venta%>
      <%}else{%>
        <%let venta = 'Se busca';%>
        <%=venta%>
      <%}%>
      </div>
      
      <div class="descrip_anun"><span>Precio:</span> <%=anuncio.precio%> €</div>
        
      <div class="descrip_anun">
          <span> Tags: </span>
        <div class="tag">
          <% anuncio.tag.forEach(function(element, index){%>
          <li> <%=element%></li>
          <%});%>
        </div>
      </div>

      <%});%>

    </div>

    <section class="paginacion">
      <ul id = "pags"></ul>
    </section> 

    </div>
  </body>
</html>