<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %>. La API de anuncios que estabas esperando.</p>
    <p>Pincha <a href="/apiv1/anuncios">aquí</a> para ver la demo que te hemos preparado.</p>

  </body>
</html>
