<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <img src="./images/bici1.jpg" WIDTH=340 HEIGHT=210 ALT="Producto1">    
  </body>
</html>
